@import url("https://use.typekit.net/mqs4gjc.css");

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$red: #b42d21;
$black--rich: #111a13;
$menu-items-count: 3;

/*------------------------------------*\
  #GLOBALS & RESET
\*------------------------------------*/

html,
body,
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body:before, body:after {
  content: "";
  position: fixed;
  background: #FFFFFF;
  left: 0;
  right: 0;
  height: 15px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  visibility: hidden;
  height: 0 !important;
}

/*------------------------------------*\
  #LOADER
\*------------------------------------*/

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid $black--rich;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $black--rich;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/*------------------------------------*\
  #NAV
\*------------------------------------*/

.gir-header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  & .gir-header__nav {
    background: rgba(255,255,255,0);    
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 120ms cubic-bezier(0.77, 0, 0.175, 1);

    & .nav-links__item {
      opacity: 0;
      transform: translate(0%, 50%);
      transition-delay: 80ms;
      transition: all 60ms cubic-bezier(0.77, 0, 0.175, 1);
      @for $i from 0 through $menu-items-count {
				&:nth-child(#{$i}){
					transition-delay: 0.3 * $i / 8 + .2 + s;
				}
			}
    }

    &.overlay {
      z-index: 5;

      &:before {
        opacity: 0.3;
      }

      & .gir-header__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        z-index: 1;
      }

      & .nav-links__item {
        opacity: 1;
        transform: translateX(0%);
      }
    }


    & .gir-header__nav-toggle {
      flex: 0 0 42px;
      justify-self: flex-end;
      align-self: flex-start;
      z-index: 6;
    }

    & .gir-header__nav-links {
      position: relative;
      left: 20px;
      flex: 1 1 100%;
      align-self: center;
      text-align: center;
      z-index: 5;

      list-style-type: none;

      & .nav-links__item {
        padding: 1em 0;        
      }

      & .nav-links__item a {
        position: relative;
        outline: none;
        padding: 15px;
        color: $black--rich;
        text-decoration: none;
        font-size: 1.5em;
        line-height: 1em;
        font-family: museo-sans-condensed, sans-serif;
        font-style: normal;
        letter-spacing: 0.2em;
        font-weight: 700;
        text-transform: uppercase;

        & .nav-links__item-name {
          align-content: center;
          position: absolute;
          right: 50%;
          padding: 0 0.85em 0 0.35em;
          font-weight: bold;
          line-height: 1;
          transition: color 0.5s;
          transition-timing-function: cubic-bezier(0.2,1,0.3,1);
          text-align: right;
          float: right;
          height: 100%;

          &:before {
            content: '';
            display: inline-block;
            position: relative;
            z-index: 10;
            width: 100%;
            height: 0.6em;
            left: -0.2em;
            top: 1.4em;
            opacity: 0.6;
            transform: scale3d(0,1,1);
            transform-origin: 0% 50%;
            transition: transform 0.5s;
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
          }
        }

        & .nav-links__item-label {
          display: flex;
          align-content: center;
          font-size: 1em;
          letter-spacing: 0.05em;
          padding: 0 0.85em 0 0.35em;          
          transform: translate3d(-0.5em,0,0);
          transition: transform 0.5s, color 0.5s;
          transition-timing-function: cubic-bezier(0.2,1,0.3,1);
          text-align: left;
          float: left;
          position: absolute;
          left: 50%;
          height: 100%;          

          &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 25%;
            height: 1px;
            left: 0.05em;
            top: 1.25em;
            opacity: 0.6;            
            transform: scale3d(0,1,1);
            transform-origin: 100% 50%;
            transition: transform 0.5s;
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
          }
        }
      }

      .nav-links__item .nav-links__item-name::before,
      .nav-links__item .nav-links__item-label::before {
        background: #EF403B;
      }

      /* Hover */

      .nav-links__item:hover,
      .nav-links__item:focus {
        color: #EF403B;
      }

      .nav-links__item:hover .nav-links__item-name::before,
      .nav-links__item:focus .nav-links__item-name::before,
      .nav-links__item:hover .nav-links__item-label::before,
      .nav-links__item:focus .nav-links__item-label::before {
        transform: scale3d(1,1,1);
      }

      .nav-links__item:hover .nav-links__item-label,
      .nav-links__item:focus .nav-links__item-label {
        transform: translate3d(0,0,0);
      }

      .nav-links__item:hover .nav-links__item-label::before,
      .nav-links__item:focus .nav-links__item-label::before {
        transition-timing-function: ease;
        transform-origin: 0% 50%;
      }
    }
  }
}

/**
 * Menu icon
 * cf. https://codepen.io/designcouch/pen/lgnDJ?depth=everything&order=popularity&page=3&q=menu+icon&show_forks=false
 */

/* Grid One */

.btn--unstyled,
.btn--unstyled:hover,
.btn--unstyled:focus {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
}

.gir-header__nav-toggle {
  height:42px;
  width:42px;
  position:relative;
  top: -2px;
  right: -2px;
  cursor:pointer;
}

.gir-header__nav-toggle span {
  display:block;
  position:absolute;
  width:10px;
  height:10px;
  top:50%;
  left:50%;
  margin:-5px 0 0 -5px;
  background:$black--rich;
  box-shadow:
    -13px -13px 0 $black--rich,
    -13px 0 0 $black--rich,
    -13px 13px 0 $black--rich,
    0 -13px 0 $black--rich,
    0 13px 0 $black--rich,
    13px -13px 0 $black--rich,
    13px 0 0 $black--rich,
    13px 13px 0 $black--rich
  ;
  transition: all 80ms cubic-bezier(0.77, 0, 0.175, 1);
}

.gir-header__nav-toggle:hover span {
  box-shadow:
    -15px -15px 0 $black--rich,
    -15px 0 0 $black--rich,
    -15px 15px 0 $black--rich,
    0 -15px 0 $black--rich,
    0 15px 0 $black--rich,
    15px -15px 0 $black--rich,
    15px 0 0 $black--rich,
    15px 15px 0 $black--rich
  ;
}

.gir-header__nav-toggle span:before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:$black--rich;
  transition: all 80ms cubic-bezier(0.77, 0, 0.175, 1);
}

.gir-header__nav-toggle.active span {
  box-shadow: 0 0 0 $black--rich;
  width:60%;
  height:6px;
  left:20%;
  margin:-4px 0 0 0px;
  transform:rotate(45deg);
  background:$red;
}

.gir-header__nav-toggle.active span:before {
  transform:rotate(90deg);
  background:$red;
}

.gir-header__nav-toggle.active:hover span {
  width: 66%;
  height: 5px;
  left: 18%;
}

/*------------------------------------*\
  #ROUTED COMPONENTS
\*------------------------------------*/

.gir-main {
  padding: 15px 105px;
  text-align: center;
  filter: blur(0);
  z-index: -1;
  position: relative;
  transition: filter 120ms cubic-bezier(0.77, 0, 0.175, 1);

  &:before, &:after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#ffffff, .1);
    transition: transform 250ms cubic-bezier(0.77, 0, 0.175, 1);
    transform: translateX(0%) translateY(-100%);
  }

  &:after{
    background: rgba(#ffffff, .3);
    transition-delay: 0ms;
  }

  &:before{
    transition-delay: 180ms;
  }

  &.overlay {
    filter: blur(2px);

    &:before, &:after{
			transform: translateX(0%) translateY(0%);
		}
		&:after{
			transition-delay: 180ms;
		}
		&:before{
			transition-delay: 0ms;
		}
  }
}

@media screen and (max-width: 900px) {
  .gir-main {
    padding: 15px;
  }
}